@import "tailwindcss";

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background: #F8F8F8;
  color: #333333;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}